<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods">
    <test verbose="2" thread-count="2" preserve-order="true"
          name="/Users/maksimmelnikov/IdeaProjects/selenide/src/test/java/TestClassTestNG.java">
        <classes>
            <class name="TestClassTestNG"></class>
        </classes>
    </test>
</suite>